pipeline/LookupActivityPipiline.json
{
	"name": "LookupActivityPipiline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DatasetOracleDBDemo",
						"type": "DatasetReference",
						"parameters": {
							"userName": "AJAY",
							"SchemaName": "AJAY",
							"TableName": "EMP"
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "InputDataSet",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "LookupActivityOutputDataset",
						"type": "DatasetReference",
						"parameters": {
							"Folder": {
								"value": "@activity('Lookup1').output.firstRow.emp_id",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"TableName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-04T10:07:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}